
page-home {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    top: 81%;
    right: 2%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
    color: #c41b22;;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: abolute;
    top: 62%;
    right: 2%;
    width: 100%;
    color: #d4caca;;
  }

}
