page-home {
  .title{
    text-align: center;
    color: red;
  }

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    right: 2%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: red;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 62%;
    right: 2%;
    width: 100%;
    color: #d4caca;;
  }

}
